@-webkit-keyframes showcase-hover {
  0% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showcase-hover {
  0% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #95e1d3;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333333 !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333 !important;
}

.sec-title p {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 15px;
}

.sec-title h1 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.sec-title h1::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec-padding {
  padding-top: 90px;
  padding-bottom: 110px;
}

.sec-inr-padding {
  padding-top: 90px;
}

.sec-inr-padding .sec-inr-txt {
  padding-bottom: 90px;
}

.sec-inr-padding .sec-inr-txt p {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.divider {
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-transition-property: height, background-color;
  transition-property: height, background-color;
  height: 80px;
}

.header-scrolled {
  background-color: #f38181;
  height: 60px;
  -webkit-box-shadow: 0px 0px 27px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 27px -14px rgba(0, 0, 0, 0.75);
  z-index: 999999999;
}

.header-scrolled .nav-link::after {
  bottom: 0 !important;
}

.header-scrolled .active::after {
  bottom: 0;
}

.navbar a {
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  opacity: 0.8;
  color: #ffffff !important;
}

.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fce38a;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  content: "";
  width: 80%;
  height: 3px;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  background-color: #fce38a;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.navbar .navbar-nav .active {
  color: #fce38a;
}

.navbar .navbar-nav .active::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.navbar .navbar-nav li {
  margin-right: 32px;
}

.navbar .navbar-nav li:last-child {
  margin-right: 0;
}

.navbar .navbar-nav .nav-icons a {
  margin-left: 15px;
}

.navbar .navbar-nav .nav-icons a:first-child {
  margin-left: 0;
}

.bnr {
  width: 100%;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bnr:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.intro-cnt-wrap {
  height: 100vh;
  color: #ffffff;
}

.intro-txt-wrap {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.intro-txt-wrap p {
  font-size: 52px;
  line-height: 52px;
  font-family: "Kaushan Script", cursive;
}

.intro-txt-wrap h1 {
  color: #ffffff !important;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 100px;
  position: relative;
}

.intro-txt-wrap h1:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro-txt-wrap .btn {
  width: 160px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  line-height: 36px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-txt-wrap .btn:hover {
  background-color: #ffffff;
  color: black;
}

.stry-itm-wrp .stry-singl,
.stry-itm-wrp .team-singl,
.team-itm-wrp .stry-singl,
.team-itm-wrp .team-singl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stry-itm-wrp .stry-singl ul,
.stry-itm-wrp .team-singl ul,
.team-itm-wrp .stry-singl ul,
.team-itm-wrp .team-singl ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stry-itm-wrp .stry-singl ul li,
.stry-itm-wrp .team-singl ul li,
.team-itm-wrp .stry-singl ul li,
.team-itm-wrp .team-singl ul li {
  color: #ffffff !important;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 700;
}

.stry-itm-wrp .stry-singl ul li i,
.stry-itm-wrp .team-singl ul li i,
.team-itm-wrp .stry-singl ul li i,
.team-itm-wrp .team-singl ul li i {
  font-size: 24px;
}

.stry-itm-wrp .stry-singl::before,
.stry-itm-wrp .team-singl::before,
.team-itm-wrp .stry-singl::before,
.team-itm-wrp .team-singl::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.stry-itm-wrp .stry-singl::after,
.stry-itm-wrp .team-singl::after,
.team-itm-wrp .stry-singl::after,
.team-itm-wrp .team-singl::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #95e1d3;
  z-index: -3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stry-singl:hover,
.team-singl:hover {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}

.stry-singl:hover a li:nth-child(1),
.team-singl:hover a li:nth-child(1) {
  -webkit-animation-name: showcase-hover;
          animation-name: showcase-hover;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.stry-singl:hover a li:nth-child(2),
.team-singl:hover a li:nth-child(2) {
  -webkit-animation-name: showcase-hover;
          animation-name: showcase-hover;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.stry-singl:hover::after,
.team-singl:hover::after {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}

.stry-singl:hover::before,
.team-singl:hover::before {
  opacity: 0.9;
}

.stry-singl:hover ul,
.team-singl:hover ul {
  opacity: 1;
}

.cnter-sec {
  background-color: #95e1d3;
  color: #ffffff;
}

.cnter-sec ul {
  list-style-type: none;
  width: 20%;
  padding-top: 50px;
  padding-bottom: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.cnter-sec ul .cnter-num {
  font-size: 72px;
  font-weight: 700;
}

.cnter-sec ul .cnter-title {
  font-size: 14px;
}

.cnter-sec ul:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.srvc-singl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.srvc-singl .srvc-sin-icn i {
  color: #95e1d3;
  font-size: 30px;
}

.srvc-singl .srvc-sin-txt {
  padding-left: 25px;
}

.srvc-singl .srvc-sin-txt h6 {
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  margin-bottom: 15px;
}

.srvc-singl .srvc-sin-txt p {
  color: #999999;
  font-size: 13px;
  line-height: 24px;
}

.design-con-sec {
  background-image: url(../images/design-concept-bnr.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
}

.design-con-sec .sec-title {
  z-index: 1;
}

.design-con-sec::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.design-con-sec-imgs {
  position: relative;
}

.design-con-sec-imgs img:nth-child(1) {
  position: relative;
  z-index: 1;
}

.design-con-sec-imgs img:nth-child(2) {
  position: absolute;
  bottom: 6.5%;
  left: 70%;
  z-index: 9999999;
}

.wt-we-do-sec {
  z-index: 1;
  position: relative;
  background-color: #ffffff;
}

.wt-we-do-sec .accordion .acrdn-title {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #e5e5e5;
}

.wt-we-do-sec .accordion .acrdn-title a {
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  display: block;
  text-align: left;
  line-height: 24px;
}

.wt-we-do-sec .accordion .acrdn-title a i {
  color: #95e1d3;
  font-size: 24px;
  padding-right: 15px;
}

.wt-we-do-sec .accordion .acrdn-title:first-child {
  margin-top: 0;
}

.wt-we-do-sec .accordion .collapse {
  padding: 20px;
  border: 1px solid #e5e5e5;
}

.wt-we-do-sec .accordion .collapse .collapse-inr {
  padding-right: 20px;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
  font-style: italic;
  height: 132px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.qts-sec,
.testimoni-sec {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 70px;
}

.qts-sec .container,
.testimoni-sec .container {
  position: relative;
}

.qts-sec .slick-cs-prev,
.qts-sec .slick-cs-next,
.qts-sec .slick-cs2-prev,
.qts-sec .slick-cs2-next,
.testimoni-sec .slick-cs-prev,
.testimoni-sec .slick-cs-next,
.testimoni-sec .slick-cs2-prev,
.testimoni-sec .slick-cs2-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #999999;
  font-size: 22px;
  z-index: 999;
}

.qts-sec .slick-cs-next,
.qts-sec .slick-cs2-next,
.testimoni-sec .slick-cs-next,
.testimoni-sec .slick-cs2-next {
  right: 0;
}

.qts-wrap,
.testimoni-wrap {
  position: relative;
}

.qts-icn span,
.testimoni-icn span {
  border: 3px solid #95e1d3;
  width: 110px;
  height: 110px;
  display: inline-block;
}

.qts-icn i,
.testimoni-icn i {
  color: #95e1d3;
  font-size: 40px;
}

.qts-cnt,
.testimoni-cnt {
  padding-left: 40px;
  color: #999999;
}

.qts-cnt p,
.testimoni-cnt p {
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
}

.qts-cnt h6,
.testimoni-cnt h6 {
  font-weight: bold;
  color: #333333;
  font-family: "Kaushan Script", cursive;
  padding-left: 75px;
  font-size: 20px;
  margin-top: 5px;
  line-height: 45px;
  position: relative;
}

.qts-cnt h6:before,
.testimoni-cnt h6:before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimoni-sec {
  background-color: #ffffff;
}

.team-title h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 5px;
}

.team-title p {
  font-style: italic;
  font-size: 14px;
  color: #999999;
}

.team-social {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-social li {
  background-color: #fce38a;
  border-left: 1px solid #fac7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.team-social li a {
  width: 45px;
  height: 45px;
  display: block;
  font-size: 22px !important;
  line-height: 45px;
  color: #f38181;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team-social li:first-child {
  border-left: none;
}

.team-social li:hover {
  background-color: #f38181;
  border-left: none;
}

.team-social li:hover a {
  color: #ffffff;
}

.team-social:hover li {
  -webkit-animation-name: showcase-hover;
          animation-name: showcase-hover;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.cmp-sec {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.showcase-sec {
  padding-bottom: 0;
}

.showcase-sec .showcase-itm-wrp .col-3 {
  padding: 0;
}

.showcase-img {
  position: relative;
  overflow: hidden;
}

.showcase-img img {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.showcase-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.showcase-img:hover .showcase-img-title {
  opacity: 0.9;
}

.showcase-img:hover .showcase-img-title i,
.showcase-img:hover .showcase-img-title h6,
.showcase-img:hover .showcase-img-title p {
  -webkit-animation-name: showcase-hover;
          animation-name: showcase-hover;
}

.showcase-img:hover .showcase-img-title i {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.showcase-img:hover .showcase-img-title h6 {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.showcase-img:hover .showcase-img-title p {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.showcase-img-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.showcase-img-title i {
  font-size: 32px;
}

.showcase-img-title h6 {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.showcase-img-title p {
  font-size: 14px;
  font-style: italic;
}

.wps-sec {
  background-image: url(../images/hill-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 0;
}

.wps-sec .sec-title,
.wps-sec .wps-cnt {
  z-index: 99999;
}

.wps-sec::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.wps-singl-wrp {
  margin-bottom: 70px;
}

.wps-singl-wrp .wps-sin-txt {
  padding-left: 30px;
}

.wps-singl-wrp h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.wps-singl-wrp .ppl-title {
  font-size: 14px !important;
  font-style: italic;
  color: #333333 !important;
  position: relative;
  margin-top: 12px;
}

.wps-singl-wrp .ppl-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.wps-singl-wrp .ppl-des {
  font-size: 13px !important;
  line-height: 22px;
  color: #6b6b6b !important;
  margin-top: 30px;
}

.blog-singl-img {
  position: relative;
}

.blog-singl-img .date {
  list-style-type: none;
  background-color: #95e1d3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.blog-singl-img .date li:nth-child(1) {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.blog-singl-img .date li:nth-child(2) {
  color: #ffffff;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
}

.blog-singl-wrp .blog-singl-cont h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-singl-wrp .blog-singl-cont p {
  color: #999999;
  font-size: 12px;
  line-height: 22px;
}

.blog-singl-wrp .blog-singl-cont .divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-singl-wrp .blog-singl-cont .nav li {
  color: #999999;
  font-size: 14px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.blog-singl-wrp .blog-singl-cont .nav li i {
  color: #95e1d3;
  margin-right: 5px;
}

.blog-singl-wrp .blog-singl-cont .nav li:first-child {
  margin-left: 0;
}

.map-sec {
  background-image: url(../images/map-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.map-sec::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.map-title {
  z-index: 999;
}

.map-title i,
.map-title h4 {
  color: #f38181 !important;
}

.map-title i {
  font-size: 26px;
  margin-bottom: 18px;
}

.map-title h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.map-title h4:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

footer {
  padding-bottom: 0 !important;
  background-color: #f8f8f8;
}

.ftr-cnt .navbar-brand {
  font-size: 40px;
  line-height: 40px;
  padding: 0;
  font-weight: 800;
  color: #bfbfbf !important;
}

.ftr-cnt .ftr-desc {
  font-size: 12px;
  color: #999999;
  line-height: 22px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.ftr-cnt .lk-count {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}

.ftr-cnt .lk-count span {
  font-size: 18px;
  font-weight: bold;
}

.ftr-cnt .divider {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ftr-cnt .ftr-scl-link li {
  color: #95e1d3;
  font-size: 18px;
  margin-left: 12px;
}

.ftr-cnt .ftr-scl-link li:first-child {
  margin-left: 0;
  margin-right: 20px;
  font-size: 16px;
  font-style: italic;
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999 !important;
}

:-ms-input-placeholder {
  color: #999999 !important;
}

::-ms-input-placeholder {
  color: #999999 !important;
}

::placeholder {
  color: #999999 !important;
}

.ftr-cnt .ftr-form {
  margin-top: 30px;
}

.ftr-cnt .ftr-form input[type="email"] {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 10px;
  color: #999999 !important;
  font-style: italic;
  font-size: 14px;
  width: 230px;
}

.ftr-cnt .ftr-form input[type="submit"] {
  background-color: #95e1d3;
  padding: 13px;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-left: -5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 150px;
}

.ftr-cnt .ftr-form input[type="submit"]:hover {
  background-color: #59d0ba;
}

.ftr-blog-wrp {
  margin-top: 40px;
}

.ftr-blog-title h6 {
  font-weight: 14px;
  font-weight: 700;
  color: #333333 !important;
  text-transform: uppercase;
}

.ftr-blog-singl {
  margin-bottom: 23px;
}

.ftr-blog-singl .ftr-blog-cnt {
  padding-left: 20px;
}

.ftr-blog-singl .ftr-blog-cnt h6 {
  font-size: 11px;
  font-weight: 700;
  color: #333333 !important;
  text-transform: uppercase;
}

.ftr-blog-singl .ftr-blog-cnt p {
  color: #999999 !important;
  font-size: 14px;
  font-style: italic;
  margin-top: 6px;
}

.ftr-insta-title h6 {
  font-weight: 14px;
  font-weight: 700;
  color: #333333 !important;
  text-transform: uppercase;
}

.ftr-insta-imgs {
  margin-top: 40px;
}

.ftr-insta-imgs img {
  width: 30%;
  height: auto;
  margin-bottom: 4px;
}

.ftr-insta .insta-link {
  font-size: 14px;
  color: #333333;
  font-style: italic;
  display: block;
  margin-top: 35px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ftr-insta .insta-link:hover {
  color: #999999;
}

.ftr-copy p {
  font-size: 12px;
  color: #333333;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ftr-copy span a {
  color: #f38181 !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none !important;
}

.ftr-copy span a:hover {
  color: #ec3b3b !important;
}

footer .container > .divider {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */